@import './header.css';
@import './footer.css';

@media (min-width: 1440px) {
    /* header {
        padding: 1.5rem 5rem;
    }
        header h1 {
            font-size: 1.35rem;
        } */

    .search-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 5rem 0;
    }
        /* .search,
        .filter {
            padding: 0rem 2rem;
        } */
        /* .search,
        .filter {
            margin: 2rem 0;
        }    */
        .search {
            min-width: 37%;
            padding: .25rem 2rem;        
            gap: .5rem;
        }
        .filter {
            min-width: 25%;
            text-align: right;
        }
            .filter select {
                padding: 1.25rem 1rem;
            }

    main {
        margin: 1rem 5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem 5rem;
    }
        main article:hover {
            filter: drop-shadow(0 0 2px var(--White));
        }
        article .info {
            padding: .75rem 1.5rem 2rem;
        }
            article .info h2 {
                font-size: 1rem;
                line-height: 3;
            }
            article .info h3 {
                font-size: .8rem;
                line-height: 1.5;
            }
                .info h3 span {
                    font-size: .8rem !important;
                }
        
}