@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './blocks.css';
@import './desktop-view.css';
/* @import './detail.css';
@import './detail-desktop.css'; */

:root {
    /* colors */
    /* dark mode */
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}
    @media (min-width: 1440px) {
        html {
            font-size: 16px;
        }
    }

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    min-height: 100vh;

    /* display: grid;
    grid: auto / 0 0 0; */
}

img {
    width: 100%;
    display: block;
}

span.icon {
    display: grid;
    place-items: center;
}