@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './blocks.css';
@import './desktop-view.css';
/* @import './detail.css';
@import './detail-desktop.css'; */

:root {
    /* colors */
    /* dark mode */
    --Dark-Blue: hsl(209, 23%, 22%);    /* elems bg clr */
    --Very-Dark-Blue: hsl(207, 26%, 17%);    /* body bg clr */
    --White: hsl(0, 0%, 100%);    /* text clr */
    --Dark-Gray: hsl(209, 23%, 22%);    /* input bg clr */
}

[data-theme="light"] {
    --Dark-Blue: hsl(0, 0%, 100%);
    --Very-Dark-Blue: hsl(0, 0%, 90%);
    --White: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    height: 100%;
}
    @media (min-width: 1440px) {
        html {
            font-size: 16px;
        }
    }

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    /* min-height: 100vh; */

    /* display: grid;
    grid: auto / 0 0 0; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transition: background 100ms ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

span.icon {
    display: grid;
    place-items: center;
}

svg path {
    fill: var(--White);
}
